	

/* 切换带背景导航 */
.tooling_indNav{padding: 30rpx 4%;}
.tooling_indNav .list{background: #fff; border-radius: 10rpx;overflow: hidden; display: flex;justify-content: center; align-items: center;}
.tooling_indNav .list .item{width: 33.3%;box-sizing: border-box;text-align: center;padding: 0 10rpx;color: #333;line-height: 70rpx;border-right: 2rpx solid #eee;}
.tooling_indNav .list .item.on{background: #ff2e34; color: #fff;}
.tooling_indNav .list .item:last-child{border-right: 0;}



/* 公共切换导航 */
.orderNav{display: flex; justify-content: space-between; align-items: center; height: 80rpx;padding: 0 4%; }
.orderNav .tt{ width: 50%;color: #666;  font-size: 28rpx; text-align: center; line-height: 80rpx;}
.orderNav .on{ color: #ff2e34; position: relative;}
.orderNav .on::after{content: ""; width: 60rpx; height: 6rpx;background: #ff2e34; position: absolute; bottom: 0;left: 50%;transform: translateX(-50%);}

	
	
	
	
	
	
	